.section-title {
  margin-top: 1.5rem;
}
.btn-edit {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.btn-edit:hover {
  background-color: #218838;
}

.btn-delete {
  background-color: rgba(255, 0, 0, 0.664);
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.btn-delete:hover {
  background-color: #8606069c;
}

.btn-add {
  color: #28a745;
  border: 0.2rem dotted #28a745;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}
