/* Tabla */
.custom-table-container {
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  border-radius: 8px;
}

.custom-table {
  margin-bottom: 0;
  --bs-table-bg: transparent;
  --bs-table-striped-bg: transparent;
  --bs-table-hover-bg: var(--hover-bg);
  --bs-table-border-color: var(--border);
}

.custom-table thead {
  background-color: var(--hover-bg);
}

.custom-table thead th {
  padding: 1rem;
  font-weight: 400;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--text);
  border-bottom: 1px solid var(--border);
  border-top: none !important;
  background-color: transparent;
}

.custom-table tbody td {
  padding: 1rem;
  border-bottom: 1px solid var(--hover-bg) !important;
  color: var(--text) !important;
  font-weight: 300;
  font-size: 0.95rem;
  vertical-align: middle;
  background-color: transparent;
}

.custom-table tbody tr {
  background-color: transparent !important;
}

.custom-table tbody tr:last-child td {
  border-bottom: none !important;
}