/* Form */
.form-label {
  color: var(--text);
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.custom-input {
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  color: var(--text);
  font-weight: 300;
}

.custom-input::placeholder {
  color: var(--text-muted-light);
}

.custom-input:focus {
  background-color: var(--background);
  border-color: var(--primary);
  color: var(--text);
  box-shadow: 0 0 0 0.2rem var(--hover-bg-strong);
}