/* Cards de torneos */
.torneo-card {
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 1.5rem;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.torneo-card:hover {
  border-color: var(--primary);
  transform: translateY(-2px);
}

.torneo-nombre {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text);
  letter-spacing: -0.3px;
}

.torneo-info {
  flex-grow: 1;
}

.info-icon {
  font-size: 1rem;
  opacity: 0.8;
}

.info-text {
  color: var(--text-muted);
  font-size: 0.9rem;
  font-weight: 300;
}

.torneo-descripcion {
  color: var(--text-muted-ligth);
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5;
}
